user_list_width = 70px
chat_window_height = 350px

body
  padding 66px 20px 0px 20px

.header
  margin-bottom 20px

.container-fluid > .sidebar
  max-width user_list_width
  width user_list_width

.container-fluid > .content
  margin-left user_list_width

.container-fluid
  min-width 300px

.headroom
  margin-top 30px 

#chat_window
  overflow-y auto
  overflow-x auto
  max-height chat_window_height
  min-height chat_window_height

.connect
  color green

.disconnect
  color red

.thumbnail
  height 160px

a.new_img
  border 1px solid yellow

.fill
  height 56px
