div.container
  h1.header Login with some other service!
  div.row
    div.span2
      #facebook
        a(href='/auth/facebook')
          img(src='/img/facebook.png')
    div.span2
      #twitter
        a(href='/auth/twitter')
          img(src='/img/twitter.png')
    div.span2
      #google
        a(href='/auth/google')
          img(src='/img/google.png')
